@using Canki.Web.UI.Models
@model List<CategoryListViewModel>

<nav class="navbar navbar-vertical navbar-light align-items-start p-0 border border-top-0 border-bottom-0 collapse" id="navbar-vertical" style="">
    <div class="navbar-nav w-100 overflow-hidden" style="height: auto">
        @foreach (var item in Model)
        {
            <a href="" class="nav-item nav-link">@item.Name</a>
        }
    </div>
</nav>
